
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="page-section portfolio mt-5" id="portfolio">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="formSave" name="formSave">

                    <div class="form-floating mb-3">
                        <input class="form-control" id="mail_NAME" name="mail_NAME" type="text" placeholder="Enter mail name..." data-sb-validations="required" data-sb-can-submit="no">
                        <label for="mail_NAME">Mail Name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="subject" name="subject" type="text" placeholder="Enter subject..." data-sb-validations="required" data-sb-can-submit="no">
                        <label for="subject">Subject</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A subject is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="content" name="content" type="text" placeholder="Enter Message..." data-sb-validations="required" data-sb-can-submit="no">
                        <label for="content">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A Message is required.</div>
                    </div>

                    <button class="btn bg-primary float-end btn-xl m-2" id="btnSubmit" style="float:right;" type="button">Submit</button>
                    <button class="btn btn-danger float-end btn-xl m-2" id="btnBack" style="float:right;" type="button">Back</button>
                </form>
            </div>

        </div>
    </div>
</section>
@section Scripts{
   
 <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

    <script>

        $(document).ready(function () {

            function GosterBeklet() {
                $('#page-top').css("opacity", "0.5");
                $('#loader').css("display", "block");
            }

            function GizleBeklet() {
                $('#page-top').css("opacity", "1");
                $('#loader').css("display", "none");
            }

            $(document).on("click",
                '#btnBack',
                function (event) {

                    window.location.href = "/MailBox/Mails/";

                });


            $(document).on("click",
                '#btnSubmit',
                function (event) {

                    GosterBeklet();

                    event.preventDefault(); // avoid to execute the actual submit of the form.

                    // Get form
                    var form = $('form[name="formSave"]');

                    form.validate({
                        rules: {
                            maiL_NAME: {
                                required: true
                            },
                            subject: {
                                required: true
                            },
                            content: {
                                required: true
                            }
                        },
                        messages: {
                            maiL_NAME: {
                                required:
                                    'Zorunlu Alan'
                            },
                            subject: {
                                required:
                                    'Zorunlu Alan'
                            },
                            content: {
                                required:
                                    'Zorunlu Alan'
                            }
                        },
                    });

                    if (!form.valid()) {
                        return;
                    }
                    // Create an FormData object
                    var data = new FormData(form[0]);

                    $.ajax({
                        type: "POST",
                        url: "/MailBox/SaveMail/",
                        enctype: 'multipart/form-data',
                        data: data,
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        success: function (response) {
                            Swal.fire({
                                title: "Success",
                                text: response.responseText,
                                icon: "success",
                                type: "success",
                            }).then((result) => {
                                window.location.href = "/MailBox/";

                            });

                        },
                        error: function (response) {

                            Swal.fire({
                                title: "Error",
                                text: response.responseText,
                                icon: 'warning',
                                type: "error",
                                confirmButtonText: 'Close'
                            });
                        },
                        complete: function () {
                            GizleBeklet();
                        }

                    });
                });


        });

    </script>


}
