
@{
    Layout = null;
   
}
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mail Box Web</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <!-- Font Awesome icons (free version)-->
    @*<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>*@
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <div id="loader" style="display:none;"></div>

    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <i class="fas fa-envelope fa-fw mb-5" style="font-size:7rem;"></i>
            <span class="badge badge-danger badge-counter messageCount unreadMessage"></span>
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0 ">Hello Sefa</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <!--<div class="divider-custom-icon"><svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg>--><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com --><!--</div>-->
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">
                You have <span class="unreadMessage"></span> unread messages out of <span class="totalMessage"></span> total
            </p>

            <div class="text-center mt-4">
                <button class="btn btn-xl btn-danger text-decoration-underline" id="btnMailBox">
                    <!-- <i class="fas fa-download me-2"></i> Font Awesome fontawesome.com -->
                    View Messages
                </button>
            </div>
        </div>
    </header>
    <footer>
    </footer>
    <!-- Footer-->
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Desing By Sefa Çabuk</small></div>
    </div>

    <style>
        .messageCount {
            position: absolute;
            transform: scale(1.7);
            transform-origin: top right;
            right: 37rem;
            margin-top: -0.2rem;
            display: inline-block;
            padding: .1em 0.4em;
            font-size: 97%;
            font-weight: 900;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .35rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            background: #e74a3b;
        }

        .masthead {
            margin-top: 0px;
            padding-top: 80px;
        }
    </style>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script>



        $(document).ready(function () {
            GetList();

            function GosterBeklet() {
                $('#page-top').css("opacity", "0.5");
                $('#loader').css("display", "block");
            }

            function GizleBeklet() {
                $('#page-top').css("opacity", "1");
                $('#loader').css("display", "none");
            }


            var unread = 0;
            var totalmessage = 0;

            function GetList() {
                GosterBeklet();
                $.ajax({
                    type: 'GET',
                    url: "/MailBox/MailList",
                    dataType: "json",
                    success: function (result) {
                        totalmessage = result.length;
                        $(".totalMessage").html(totalmessage);
                        for (var i = 0; i < result.length; i++) {
                            if (result[i].isread == false) {
                                unread++;
                            }
                        }
                        $(".unreadMessage").html(unread);

                    },
                    error: function (result) {

                    },
                    complete: function () {
                        GizleBeklet();
                    }
                });
            }

            $(document).on("click",
                '#btnMailBox',
                function (event) {

                    location.href = "/MailBox/Mails"

                });
        });

    </script>

</body>
</html>