
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="page-section portfolio mt-5" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <table id="tableMails" class="display" style="width:100%">
                <thead>
                    <tr class="thHover">
                        <th class="thHover"></th>
                        <th class="thHover">Mail Name</th>
                        <th class="thHover">Subject</th>
                        <th class="thHover">Message</th>
                        <th class="thHover">Date Time</th>
                        <th class="thHover"></th>
                    </tr>
                </thead>
                <tbody id="table_content"></tbody>
            </table>
        </div>
    </div>
</section>
@section   Scripts{ 

<script>



    $(document).ready(function () {
        GetList();

        function GosterBeklet() {
            $('#page-top').css("opacity", "0.5");
            $('#loader').css("display", "block");
        }

        function GizleBeklet() {
            $('#page-top').css("opacity", "1");
            $('#loader').css("display", "none");
        }

        var global_selected_row_id = "";

        function GetList() {
            GosterBeklet();
            $.ajax({
                type: 'GET',
                url: "/MailBox/MailList",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    $('#table_content').html('');
                    var table_content_html = "";

                    for (var i = 0; i < result.length; i++) {
                        var readHtml = "<i class='fas fa-flag text-warning'></i>";

                        var today = new Date(result[i].datE_TIME);
                        var day = today.getDate() + "";
                        var month = (today.getMonth() + 1) + "";
                        var year = today.getFullYear() + "";
                        var hour = today.getHours() + "";
                        var minutes = today.getMinutes() + "";
                        var seconds = today.getSeconds() + "";

                        day = checkZero(day);
                        month = checkZero(month);
                        year = checkZero(year);
                        hour = checkZero(hour);
                        minutes = checkZero(minutes);
                        seconds = checkZero(seconds);
                        date = hour + ":" + minutes + " - " + day + "." + month + "." + year;

                        function checkZero(data) {
                            if (data.length == 1) {
                                data = "0" + data;
                            }
                            return data;
                        }


                        if (result[i].isread == false) {

                            readHtml = "<i class='fas fa-flag text-danger'></i>";
                            table_content_html += "<tr style='font-weight: bolder;background: #ece7df;border-right-color: #ece7df;'>" +
                                "   <td class='table_item'  data-row_id='" + result[i].id + "' >" + readHtml + "</td>" +
                                "   <td class='table_item'  data-row_id='" + result[i].id + "' >" + result[i].maiL_NAME + "</td>" +
                                "   <td class='table_item'  data-row_id='" + result[i].id + "' >" + result[i].subject + "</td>" +
                                "   <td class='table_item'  data-row_id='" + result[i].id + "' >" + result[i].content + "</td>" +
                                "   <td class='table_item'  data-row_id='" + result[i].id + "' >" + date + "</td>" +
                                "   <td><button  data-row_id='" + result[i].id + "' id='btnDelete' class='btn btn-danger'><i class='fas fa-trash'></i></button></td>" +
                                "</tr>";
                        }

                        else {
                            table_content_html += "<tr data-row_id='" + result[i].id + "'>" +
                                "   <td class='table_item' data-row_id='" + result[i].id + "'>" + readHtml + "</td>" +
                                "   <td class='table_item' data-row_id='" + result[i].id + "'>" + result[i].maiL_NAME + "</td>" +
                                "   <td class='table_item' data-row_id='" + result[i].id + "'>" + result[i].subject + "</td>" +
                                "   <td class='table_item' data-row_id='" + result[i].id + "'>" + result[i].content + "</td>" +
                                "   <td class='table_item' data-row_id='" + result[i].id + "'>" + date + "</td>" +
                                "   <td><button  data-row_id='" + result[i].id + "' id='btnDelete' class='btn btn-danger'><i class='fas fa-trash'></i></button></td>" +
                                "</tr>";
                        }

                    }

                    $('#table_content').html(table_content_html);


                },
                complete: function () {
                    GizleBeklet();
                }
            });
        }


        $(document).on("click",
            '.table_item',
            function (event) {
                global_selected_row_id = $(this).data("row_id");

                window.location.href = "/MailBox/Mail/" + global_selected_row_id;

            });

        $(document).on("click",
            '#btnDelete',
            function (event) {

                global_selected_row_id = $(this).data("row_id");

                Swal.fire({
                    title: "Comfirm",
                    text: "The selected record will be deleted Are you sure?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, Delete!',
                    cancelButtonText: 'No',
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            type: "DELETE",
                            url: "/MailBox/DeleteMail/" + global_selected_row_id,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                if (response.success) {
                                    swal.fire({
                                        title: "Success",
                                        text: response.responseText,
                                        type: "success",

                                    }).then((result) => {
                                        $('#table_general').DataTable().destroy();
                                        GetList();

                                    });
                                } else {
                                    swal.fire({
                                        title: "ERROR",
                                        text: response.responseText,
                                        type: "error",
                                        confirmButtonClass: "btn btn-secondary",
                                    });
                                    return;
                                }
                            },
                            error: function (response) {
                                swal.fire({
                                    title: "ERROR",
                                    text: response.responseText,
                                    type: "error",
                                    confirmButtonClass: "btn btn-secondary",
                                    onClose: function () {
                                    }

                                });
                                return;
                            }
                        });


                    }
                });

            });

    });

</script>

}